<p>Ciao <strong><%= @user.name %></strong>,</p>

<p>
  la tua registrazione è avvenuta con successo ✅
</p>

<p>
  Ora puoi prenotare la tua
  <strong>consulenza gratuita online di 30 minuti</strong>.
</p>

<p>
  Se non trovi questa email nella posta principale,
  controlla anche la <strong>posta indesiderata</strong>.
</p>

<hr>

<p style="font-size:12px;color:#666;">
  Francesca Vitale – Dietologa<br>
  <a href="https://www.vitalefrancesca.com">www.vitalefrancesca.com</a><br>
  support@vitalefrancesca.com
</p>
