/* =========================
   LOGIN PAGE BACKGROUND
   ========================= */

   .login-hero {
    min-height: 100vh;
  
    background-image:
      linear-gradient(
        rgba(75, 0, 130, 0.75),
        rgba(75, 0, 130, 0.75)
      ),
      image-url("login_bg.jpg");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 40px 20px;
  }
  
  /* CARD */
  .login-card {
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(10px);
    padding: 40px 45px;
    border-radius: 22px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    max-width: 520px;
    width: 100%;
  }
  
  /* TITLE */
  .login-title {
    font-weight: 700;
    color: #4B0082;
    font-size: 2rem;
  }
  
  /* INPUT */
  .login-input {
    border: 2px solid #e8e2f3;
    padding: 10px 14px;
    border-radius: 10px;
  }
  
  /* BUTTON */
  .login-btn {
    background: #4B0082;
    color: white;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
  }
  